@import "../../mixins/mixins.scss";

.block {
  @include hw(80%, 90%);
  border: 1px solid #fff;
  background-color: #fff;
  // opacity: 0.9;
  border-radius: 25px;

  .content {
    @include hw(100%, 100%);
    @include flexBox(grid, flex-start, space-between);
    grid-template-columns: 1fr 4fr;
  }
}
