@import "../../../mixins/mixins.scss";

.main_block {
  @include hw(100%, 100%);
  @include flexBox(flex, center, space-between);
  flex-direction: column;

  .block_categories {
    display: flex;
    flex-direction: column;
  }

  .text_block {
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    padding: 10px 0;
  }

  .blocks {
    @include flexBox(flex, flex-start, center);
    flex-direction: column;

    .one_block {
      width: 100%;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 10px 5px;
      cursor: pointer;
      margin: 5px 0;
      box-sizing: border-box;

      .image {
        @include hw(20px, 20px);
        margin: 0 10px;
      }
    }

    .block_isClick {
      width: 100%;
      border-radius: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      background: #d4b3f4;
      color: white;
      transition: 0.1s;
    }

    .text {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
    }
  }

  .block_support {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;

    img {
      @include hw(20px, 20px);
      margin: 0 15px;
    }
  }

  .block_support:hover {
    background: #d4b3f4;
    border-radius: 20px;
    transition: 0.1s;
    color: white;
  }
}
