@import "../../mixins/mixins.scss";

.createContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding: 20px 30px;
  gap: 20px;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.card {
  .input {
    display: none;
  }
}
.cropperContainer {
  .avatar {
    margin: 0;
  }
}

.button_add {
  color: white;
  background-color: #9465c3;
  padding: 10px;
  border-radius: 12px;

  cursor: pointer;
  @include flexBox(flex, center, center);
}

.button_add:hover {
  background-color: #6b3a9d;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;

  button {
    background: #5e5df0;
    border-radius: 999px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
      NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
      EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  button:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}
