@import "../../../mixins/mixins.scss";

.main_content {
  @include flexBox(flex, center, space-between);
  padding: 10px 24px 30px 0;
  width: 100%;
  box-sizing: border-box;

  .block_search {
    flex-grow: 1;
    @include flexBox(flex, center, space-between);

    :global(.MuiPaper-root) {
      box-shadow: none;
    }
  }

  .info_cards {
    @include flexBox(flex, center, space-between);

    .text {
      font-weight: 600;
      font-size: 16;
      font-style: normal;
      margin-right: 20px;
      text-decoration: none;
    }

    .text:hover {
      border-bottom: 1px solid #9f7cff;
      color: #9f7cff;
      cursor: pointer;
      padding-bottom: 5px;
      transition: 0.3s;
    }
  }

  .icons_user {
    display: flex;
    .icon {
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
