@import "../../../mixins/mixins.scss";

.main_content {
  @include flexBox(flex, center, space-between);
  padding: 10px 30px;
  width: 100%;
  box-sizing: border-box;

  .block_search {
    flex-grow: 1;
    @include flexBox(flex, center, space-between);
    flex-wrap: wrap;

    :global(.MuiPaper-root) {
      box-shadow: none;
    }
  }

  .info_cards {
    @include flexBox(flex, center, space-between);
    margin-left: 15px;

    .text {
      font-weight: 600;
      font-size: 16;
      font-style: normal;
      margin-right: 20px;
      text-decoration: none;
      white-space: nowrap;
    }

    .text:hover {
      color: #9f7cff;
      cursor: pointer;
    }

    .text_is_Click {
      border-bottom: 1px solid #9f7cff;
      color: #9f7cff;
      cursor: pointer;
      padding-bottom: 5px;
      transition: 0.3s;
    }

    .icon_isClick {
      color: #9f7cff;
      border-bottom: 1px solid #9f7cff;
      padding-bottom: 5px;
      transition: 0.3s;
    }

    .icons {
      margin: 0 10px;
      cursor: pointer;
    }
  }

  .icons_user {
    display: flex;
    .icon {
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

.buttonAdd {
  .text {
    font-weight: 600;
    font-size: 16;
    font-style: normal;
    margin-right: 20px;
    text-decoration: none;
    white-space: nowrap;
  }

  .text:hover {
    color: #9f7cff;
    cursor: pointer;
  }

  .text_is_Click {
    border-bottom: 1px solid #9f7cff;
    color: #9f7cff;
    cursor: pointer;
    padding-bottom: 5px;
    transition: 0.3s;
  }

  .icon_isClick {
    color: #9f7cff;
    border-bottom: 1px solid #9f7cff;
    padding-bottom: 5px;
    transition: 0.3s;
  }
}
