@import "../../mixins/mixins.scss";

.container {
  width: 80%;
  margin-top: 20px;

  .update_content {
    padding: 20px;
    border: 1px solid purple;
    border-radius: 20px;

    .main_title {
      font-size: 18px;
      font-weight: bold;
      color: rgb(71, 40, 209);
      @include flexBox(flex, center, flex-start);
      margin-bottom: 15px;
    }
  }
}
