body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @font-face {
    font-family: "Heebo-Bold";
    src: url("fonts/Heebo-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Heebo-Light";
    src: url("fonts/Heebo-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Heebo-Medium";
    src: url("fonts/Heebo-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Heebo-SemiBold";
    src: url("fonts/Heebo-SemiBold.ttf") format("truetype");
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
